  <header id='title'><h1>ROACH RAGE</h1></header>
  <div id='gameStatusBar'>
    <p id='gameStatusMsg'></p3>
  </div>
  <div id="canvasDiv">
  <canvas id="gameCanvas" width="600" height="400">
    <img id="fallbackImg" src="/assets/roachRight.png" alt="Sorry, can't be played on this device. :("/>
  </canvas>
  </div>
